<p id="notice"><%= notice %></p>

<div class='jumbotron'>
<h1>Posts</h1>
</div>

<%= link_to 'New Post', new_post_path, class:'btn btn-outline-success justify-content-center' %>

<hr>

<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td>
          <%= image_tag post.user.avatar.url, class: 'avatar' %>
          <%= post.user.username %>
        </td>
        <td>
          <div class ='pull-right'>
            <%= link_to 'Show', post, class: 'btn btn-outline-primary' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-warning' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div aria-label="...">
  <ul class="pagination pagination-sm justify-content-center">
    <%= paginate @posts %>
  </ul>
</div>
