<p id="notice"><%= notice %></p>

<div class='jumbotron'>
<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <h3>
  <i>Written by: </i>
  <%= image_tag @post.user.avatar.url, class: 'avatar' %>
  <%= @post.user.username %>
</h3>
</p>

<p>
  <i>Last updated:<%= @post.updated_at.strftime("%B %d %Y") %></i>
</p>
</div>

<div class='post-container'>
<p>
  <%= @post.blog_entry %>
</p>
</div>

<hr>

<div class='form-group'>
  <div class="comments">
  <% @post.comments.each do |comment| %>
      <p>
    <%= image_tag comment.user.avatar.url, class: 'avatar' %><b><%= comment.user.username %></b> <small>said...</small><br />
    <%= comment.comment_entry %>
</p>
<% end %>
</div>
    <div class='form-group'>
    <%= render 'comments/form', comment: @comment %>
  </div>
</div>


<div class='container'>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-outline-primary' %> |
<%= link_to 'Back', posts_path, class: 'btn btn-outline-primary' %>
</div>
